{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

{% if users is not empty %}
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Email</td>
                <td>Role</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.roles|join(',')}}</td>
                    <td><a class="btn btn-primary" href="{{path('editRole', {id:user.id})}}">Changer le role</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
